{% extends 'base.html.twig' %}
{% block title %}Ajout événement{% endblock %}
{% block body %}
<section class="our-dashbord dashbord">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-8 col-xl-9">
                <div class="my_profile_form_area employer_profile">
                    <div class="row">
                        <center>
                            <div class="col-lg-12">
                                <h4 class="fz20 mb20">Ajouter un événement ✅</h4>
                            </div>
                        </center>
                        <div class="col-lg-12 mt30">
                            <div class="my_profile_thumb_edit"></div>
                        </div>
                        {{ form_start(form, { 'attr': {'class': 'col-lg-12' }}) }}
                        <div class="col-lg-12">
                            <div class="my_profile_input form-group" style="width: 800px;">
                                {{ form_label(form.title) }}
                                {{ form_widget(form.title) }}
                                {{ form_errors(form.title) }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="my_profile_input form-group" style="width: 800px;">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description) }}
                                {{ form_errors(form.description) }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="my_profile_input form-group" style="width: 800px;">
                                {{ form_label(form.startDate) }}
                                {{ form_widget(form.startDate) }}
                                {{ form_errors(form.startDate) }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="my_profile_input form-group" style="width: 800px;">
                                {{ form_label(form.endDate) }}
                                {{ form_widget(form.endDate) }}
                                {{ form_errors(form.endDate) }}
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="my_profile_input form-group" style="width: 800px;">
                                {{ form_label(form.nbPlace) }}
                                {{ form_widget(form.nbPlace) }}
                                {{ form_errors(form.nbPlace) }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="my_profile_input form-group" style="width: 800px;">
                                {{ form_label(form.location) }}
                                {{ form_widget(form.location) }}
                                {{ form_errors(form.location) }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="my_profile_input form-group" style="width: 800px;">
                                {{ form_label(form.picture) }}
                                {{ form_widget(form.picture) }}
                                {{ form_errors(form.picture) }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="my_profile_input">
                                {{ form_widget(form.submit) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <script src="{{ asset('back/assets/vendors/general/jquery/dist/jquery.js') }}" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function() {
            $('#eventbundle_event_startDate').datepicker({ dateFormat: 'dd/mm/yy' });
            $('#eventbundle_event_endDate').datepicker({ dateFormat: 'dd/mm/yy' });
        });
    </script>
{% endblock %}

