<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>LITO</title>

    <!-- Mobile Specific Metas
    ================================================== -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


    <!-- CSS
    ================================================== -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{asset('bundles/css/bootstrap.min.css')}}">
    <!-- Template styles-->
    <link rel="stylesheet" href="{{asset('bundles/css/style.css')}}">
    <!-- Responsive styles-->
    <link rel="stylesheet" href="{{asset('bundles/css/responsive.css')}}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{{asset('bundles/css/font-awesome.min.css')}}">
    <!-- Animation -->
    <link rel="stylesheet" href="{{asset('bundles/css/animate.css')}}">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{{asset('bundles/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/css/owl.theme.default.min.css')}}">
    <!-- Colorbox -->

    <link rel="stylesheet" href="{{asset('bundles/css/colorbox.css')}}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="{{asset('bundles/js/html5shiv.js')}}"></script>
    <script src="{{asset('bundles/js/respond.min.js')}}"></script>
    <![endif]-->

</head>

<body>

<div class="body-inner">

    <div id="top-bar" class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <ul class="top-info">
                        <li><i class="fa fa-map-marker">&nbsp;</i>
                            <p class="info-text">Esprit EL ghazella </p>
                        </li>
                    </ul>
                </div>
                <!--/ Top info end -->

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 top-social text-right">
                    <ul class="unstyled">
                        <li>
                            <a title="Facebook" href="https://facebbok.com/themefisher.com">
                                <span class="social-icon"><i class="fa fa-facebook"></i></span>
                            </a>
                            <a title="Twitter" href="https://twitter.com/themefisher.com">
                                <span class="social-icon"><i class="fa fa-twitter"></i></span>
                            </a>
                            <a title="Instagram" href="https://instagram.com/themefisher.com">
                                <span class="social-icon"><i class="fa fa-instagram"></i></span>
                            </a>
                            <a title="Linkdin" href="https://github.com/themefisher.com">
                                <span class="social-icon"><i class="fa fa-github"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/ Top social end -->
            </div>
            <!--/ Content row end -->
        </div>
        <!--/ Container end -->
    </div>
    <!--/ Topbar end -->

    <!-- Header start -->
    <header id="header" class="header-one">
        <div class="container">
            <div class="row">
                <div class="logo-area clearfix">
                    <div class="logo col-xs-12 col-md-3">
                        <a href="index.html">
                            <img src="images/logo.png" alt="">
                        </a>
                    </div><!-- logo end -->

                    <div class="col-xs-12 col-md-9 header-right">
                        <ul class="top-info-box">
                            <li>
                                <div class="info-box">
                                    <div class="info-box-content">
                                        <p class="info-box-title">Telephone</p>
                                        <p class="info-box-subtitle">(+216) 22 22 22 22</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="info-box">
                                    <div class="info-box-content">
                                        <p class="info-box-title">Email </p>
                                        <p class="info-box-subtitle">Foxward@esprit.tn</p>
                                    </div>
                                </div>
                            </li>

                            <li class="header-get-a-quote">
                                <a class="btn btn-primary" href="/login">Login</a>

                            </li>
                        </ul><!-- Ul end -->
                    </div><!-- header right end -->
                </div><!-- logo area end -->

            </div><!-- Row end -->
        </div><!-- Container end -->

        <nav class="site-navigation navigation navdown">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="site-nav-inner pull-left">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse navbar-responsive-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Famille Acceuil <i
                                                    class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ path('list') }}">List famille</a></li>
                                            <li><a href="{{ path('new') }}">Add famille</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="{{ path('show_user_front') }}">Schools</a></li>
                                    <li><a href="{{ path('event_index') }}">Events</a></li>
                                    <li><a href="{{ path('list_logement') }}">logement </a></li>
                                    <li><a href="{{ path('show_doctors_front') }}">Doctors </a></li>
                                    <li class="">
                                        <a href="{{ path('association_new') }}" class="toggle" >Candidature </a>

                                    </li>

                                </ul>
                                <!--/ Nav ul end -->
                            </div>
                            <!--/ Collapse end -->

                        </div><!-- Site Navbar inner end -->
                    </div>
                    <!--/ Col end -->
                </div>
                <!--/ Row end -->

                <div class="nav-search">
                    <span id="search"><i class="fa fa-search"></i></span>
                </div><!-- Search end -->

                <div class="search-block" style="display: none;">
                    <input type="text" class="form-control" placeholder="Type what you want and enter">
                    <span class="search-close">&times;</span>
                </div><!-- Site search end -->
            </div>
            <!--/ Container end -->

        </nav>
        <!--/ Navigation end -->
    </header>
    <!--/ Header end -->

    <div id="banner-area" class="banner-area" style="background-image:url({{asset('bundles/images/slider-main/bg1.jpg')}})">
        <div class="banner-text">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-heading">
                            <h1 class="banner-title">Candidature</h1>
                            <ol class="breadcrumb">
                                <li>Acceuil</li>
                                <li>Candidature</li>

                            </ol>
                        </div>
                    </div><!-- Col end -->
                </div><!-- Row end -->
            </div><!-- Container end -->
        </div><!-- Banner text end -->
    </div><!-- Banner area end -->

    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="sidebar sidebar-left">
                    <div class="widget">
                        <h3 class="widget-title"></h3>
                        <ul class="nav nav-tabs nav-stacked service-menu">
                            <li> <a href="{{ path('association_new') }}">Association</a></li>
                            <li class="active"><a href="{{ path('benevole_new') }}">Benevole</a></li>

                        </ul>
                    </div><!-- Widget end -->

                    <div class="widget">
                        <div class="quote-item quote-border">
                            <div class="quote-text-border">
                                Why we can't we live together. :)
                            </div>

                            <div class="quote-item-footer">
                                <img class="testimonial-thumb" src="{{ asset('bundles/images/clients/testimonial1.png') }}" alt="testimonial">
                                <div class="quote-item-info">
                                    <h3 class="quote-author">Foxward</h3>
                                    <span class="quote-subtext">ForxWard Group (LITO)</span>
                                </div>
                            </div>
                        </div><!-- Quote item end -->

                    </div><!-- Widget end -->

                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->



            {% block body %}{% endblock %}



            <footer id="footer" class="footer bg-overlay">
                <div class="footer-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 footer-widget footer-about">
                                <h3 class="widget-title">About Us</h3>
                                <img class="footer-logo" src="images/footer-logo.png" alt="" />
                                <p>LWhy we can't we leve together</p>
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="https://facebook.com/themefisher"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/themefisher"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://instagram.com/themefisher"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://github.com/themefisher"><i class="fa fa-github"></i></a></li>
                                    </ul>
                                </div><!-- Footer social end -->
                            </div><!-- Col end -->

                            <div class="col-md-4 col-sm-12 footer-widget">
                                <h3 class="widget-title">Working Hours</h3>
                                <div class="working-hours">
                                    We work 7 days a week, every day excluding major holidays. Contact us if you have an emergency, with our
                                    Hotline and Contact form.
                                    <br><br> Monday - Friday: <span class="text-right">10:00 - 16:00 </span>
                                    <br> Saturday: <span class="text-right">12:00 - 15:00</span>
                                    <br> Sunday and holidays: <span class="text-right">09:00 - 12:00</span>
                                </div>
                            </div><!-- Col end -->

                            <div class="col-md-4 col-sm-12 footer-widget">
                                <h3 class="widget-title">Services</h3>
                                <ul class="list-arrow">
                                    <li><a href="service-single.html">Candidature</a></li>
                                    <li><a href="service-single.html">General Contracting</a></li>

                                </ul>
                            </div><!-- Col end -->


                        </div><!-- Row end -->
                    </div><!-- Container end -->
                </div><!-- Footer main end -->

                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="copyright-info">
                                    <span>Copyright © 2019 a theme by <a href="https://themefisher.com">Foxward</a></span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <div class="footer-menu">
                                    <ul class="nav unstyled">
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="team.html">Our people</a></li>
                                        <li><a href="faq.html">Faq</a></li>
                                        <li><a href="news-left-sidebar.html">Blog</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- Row end -->

                        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
                            <button class="btn btn-primary" title="Back to Top">
                                <i class="fa fa-angle-double-up"></i>
                            </button>
                        </div>

                    </div><!-- Container end -->
                </div><!-- Copyright end -->

            </footer><!-- Footer end -->


            <!-- Javascript Files
            ================================================== -->

            <!-- initialize jQuery Library -->
            <script type="text/javascript" src="{{asset('bundles/js/jquery.js')}}"></script>
            <!-- Bootstrap jQuery -->
            <script type="text/javascript" src="{{asset('bundles/js/bootstrap.min.js')}}"></script>
            <!-- Owl Carousel -->
            <script type="text/javascript" src="{{asset('bundles/js/owl.carousel.min.js')}}"></script>
            <!-- Color box -->
            <script type="text/javascript" src="{{asset('bundles/js/jquery.colorbox.js')}}"></script>
            <!-- Isotope -->
            <script type="text/javascript" src="{{asset('bundles/js/isotope.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/js/ini.isotope.js')}}"></script>


            <!-- Google Map API Key-->
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
            <!-- Google Map Plugin-->
            <script type="text/javascript" src="{{asset('bundles/js/gmap3.js')}}"></script>

            <!-- Template custom -->
            <script type="text/javascript" src="{{asset('bundles/js/custom.js')}}"></script>
            <script src="{{asset('bundles/script.js')}}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        </div><!-- Body inner end -->
</body>

</html>