{% extends 'cool_admin.html.twig' %}

{% block content %}
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <div class="page-content--bgf7">
        <!-- BREADCRUMB-->
        <section class="au-breadcrumb2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div align="right">
                                <nav class="navbar navbar-light bg-light">
                                    <form class="au-form-icon--sm" >
                                        <input class="au-input--w300 au-input--style2" type="search" name="rech"placeholder="Search.." aria-label="Search" id="myInput" onkeyup="myFunction()">
                                        <button class="btn btn-outline-success my-2 my-sm-0" name="recherche" type="submit">Search</button>
                                    </form>
                                </nav>
                            </div> <br>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-4">
                        Les formations
                    </h3>
                    <hr class="line-seprate">
                </div>
            </div>
        </div>
    </section>
    <!-- END WELCOME-->
{% endblock %}
{% block body %}

   <br> <br> <h3></h3>
    <div class="container">

        <table class="table table-striped" id="mytable">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Durée</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for myFormation in myFormations %}
                <tr>
                    <td><a href="{{ path('myformation_show', { 'id': myFormation.id }) }}"> {{ myFormation.id }}</a></td>
                    <td>{{ myFormation.adresse }}</td>
                    <td>{{ myFormation.dureeMois }}</td>
                    <td>
                        <ul>
                            <li>
                                <a class ="btn btn-btn btn-info" href="{{ path('myformation_show', { 'id': myFormation.id }) }}">show</a>
                            </li>
                            <li>
                                <a class ="btn btn-warning" href="{{ path('myformation_edit', { 'id': myFormation.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success" href="{{ path('myformation_new') }}">Ajouter une nouvelle formation </a>
    </div>
{% endblock %}
