{% extends 'cool_admin.html.twig' %}
{% block content %}
<div class="page-content--bgf7">
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">

                        <form class="au-form-icon--sm" action="" method="post">
                            <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for datas &amp; reports...">
                            <button class="au-btn--submit2" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-4">
                       Ajoutez une formation
                    </h3>
                    <hr class="line-seprate">
                </div>
            </div>
        </div>
    </section>
    <!-- END WELCOME-->
    {% endblock %}

{% block body %}
    <script>
        function myFunction() {
            alert("Votre formation est validée !");
        }
    </script>
    <br> <h2> </h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.adresse, 'Nom de la formation') }}
                    {{ form_widget(form.adresse, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.adresse) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.dureeMois, 'Durée en mois') }}
                    {{ form_widget(form.dureeMois, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.dureeMois) }}
                </div>
                <button class="btn btn-info" type="submit" onclick="myFunction()"> confirmer </button>
                <br> <br>
                <a class ="btn btn-primary" href="{{ path('myformation_index') }}">
                    Consulter les formations
                </a>
            </div>



        </div>

        {{ form_end(form) }}



    </div>
{% endblock %}
{% block footer %}

{% endblock %}
