{% extends 'cool_admin.html.twig' %}
{% block content %}
<div class="page-content--bgf7">
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">

                        <form class="au-form-icon--sm" action="" method="post">
                            <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for datas &amp; reports...">
                            <button class="au-btn--submit2" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-4">

                    </h3>
                    <hr class="line-seprate">
                </div>
            </div>
        </div>
    </section>
    <!-- END WELCOME-->
    {% endblock %}

{% block body %}
    <br>   <h3>votre Formation</h3>
    <div class="container">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th scope="col">Id</th>
                <td>{{ myFormation.id }}</td>
            </tr>
            <tr>
                <th scope="col">Nom</th>
                <td>{{ myFormation.adresse }}</td>
            </tr>
            <tr>
                <th scope="col">Durée</th>
                <td>{{ myFormation.dureeMois }}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <a class ="btn btn-warning" href="{{ path('myformation_edit', { 'id': myFormation.id }) }}">modifier</a>

        {{ form_start(delete_form) }}
        <button class="btn btn-danger" type="submit" > Delete </button>
        {{ form_end(delete_form) }}
        <br>
        <a class="btn btn-primary" href="{{ path('myformation_index') }}">voir la liste</a>



    </div>
{% endblock %}
{% block footer %}

{% endblock %}