s{% block body %}
    <div class=" container">
        <h5 Align="centre">Listes des benevoles</h5>
        <table class="table table-data2">
            <thead>
            <tr>

                <th>Id</th>
                <th>Cin</th>
                <th>Address</th>
                <th>Mail</th>
                <th>Telephone</th>
                <th>Niveau</th>
                <th>Gouvernorat</th>


                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for benevole in benevoles %}
                <tr class="tr-shadow">


                    <td><a href="{{ path('benevole_show', { 'id': benevole.id }) }}">{{ benevole.id }}</a></td>
                    <td>{{ benevole.cin }}</td>
                    <td>{{ benevole.address }}</td>
                    <td>{{ benevole.mail }}</td>
                    <td>{{ benevole.telephone }}</td>
                    <td>{{ benevole.niveau }}</td>
                    <td>{{ benevole.gouvernorat }}</td>



                </tr>


            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
