{% extends 'base.html.twig' %}

{% block marge %}
    <div class="container">
    <div class="row">
    <div class="logo-area clearfix">
    <div class="logo col-xs-12 col-md-3">
        <a href="{{ asset('home_user.html.twig') }}">
            <img src="{{ asset('images/lito2.png') }}"  width="120" height="32" alt="">
        </a>
    </div><!-- logo end -->
         {% block detail %}
    <div class="col-xs-12 col-md-9 header-right">
        <ul class="top-info-box">


            <div class="info-box">
            <li> <p class="info-box-title">{{app.user.username}}</p> </li>
            <li><span class="glyphicon glyphicon-user" style="font-size:25px;"></span> </li>
            <li><a href="{{ path('logout') }}">
                    <span class="glyphicon glyphicon-share" style="font-size:25px;"></span>
                </a> </li>
            <li><a href="{{ path('fos_user_profile_edit') }}">
                    <p class="info-box-subtitle">Settings </p>
                </a> </li>

            </div>
        </ul>
    </div>
   {% endblock %}
        {% block call %}
        {% endblock %}
    </div>
    </div>
    </div>


{% endblock %}