{% extends 'base.html.twig' %}

{% block body %}
    <h3>modifiez votre Demande</h3>
    <div class ="container">
        {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(edit_form.date, 'Adresse mail') }}
                    {{ form_widget(edit_form.date, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(edit_form.date) }}
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.libelle, 'Téléphone') }}
                    {{ form_widget(edit_form.libelle, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(edit_form.libelle) }}
                </div>
                <button class="btn btn-primary solid blank" type="submit" > modifier </button>

            </div>

        </div>
        {{ form_end(edit_form) }}
        <br>
        <a class="btn btn-primary" href="{{ path('mydemande_index') }}">voir la liste</a>
        <br> <br>
        {{ form_start(delete_form) }}
        <button class="btn btn-danger" type="submit" > Delete </button>
        {{ form_end(delete_form) }}

    </div>
    <br>
{% endblock %}
